footer.bg-light.py-4.fixed-bottom
  .container.text-center
    p.mb-0 &copy; 2024 Patient Monitoring System. All rights reserved.
    p.mb-0
      | Contact us: 
      a(href="mailto:support@patientmonitoring.com") support@patientmonitoring.com